<div class="crm">
    <h2 class="crm crm__title">Conferencias</h2>
    <p class="mt-3">Administra las Conferencias</p>
    <div class="crm__container" >
        <table class="cont_crm">
            <thead class="th_crm">
                <tr>
                    <th class="th_crm__title">Titulo</th>
                    <th class="th_crm__title">Fecha</th>
                    <th class="th_crm__title">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @for (conf of conferences; track $index) {
                    <tr>
                        <td class="p-6">
                            <p class="text-2xl text-gray-800 space-y-2">{{conf.Titulo}}</p>
                        </td>
        
                        <td class="p-6">
                            <p class="text-gray-600">{{conf.Horario.Fecha}}</p>
                        </td>
        
                        <td class="p-6 flex gap-3">
                            <button 
                                type="button" 
                                class="text-blue-600 hover:text-blue-700 uppercase font-bold text-xs" 
                                (click)="getDetailConf(conf._id)"
                            >Editar</button>
                            <button 
                                type="button" 
                                class="text-red-600 hover:text-red-700 uppercase font-bold text-xs" 
                                (click)="deleteConfer(conf._id)"
                            >Eliminar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (conferences.length == 0) {
            <p class="text-center mt-10" >No tienes conferencias aún</p>
        }
    </div>
</div>
