<header>
  <a routerLink="/home" class="logo" (click)="handleClick(null)">Conferencias UTNG</a>
  <nav class="main-nav">
      <a routerLink="/about" [class.active]="currentSection === 'about'" (click)="handleClick('about')">Creditos</a>
      <a routerLink="/services" [class.active]="currentSection === 'services'" (click)="handleClick('services')">Services</a>
      <a routerLink="/portfolio" [class.active]="currentSection === 'portfolio'" (click)="handleClick('portfolio')">Portfolio</a>
      <a routerLink="/contact" [class.active]="currentSection === 'contact'" (click)="handleClick('contact')">Contact</a>
      <ng-container *ngIf="rol === 'admin'">
          <!-- Opciones de menú adicionales para el administrador -->
          <a routerLink="/admin-dashboard" [class.active]="currentSection === 'admin-dashboard'" (click)="handleClick('admin-dashboard')">Admin Dashboard</a>
      </ng-container>
  </nav>
  <button class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
  </button>
  <div class="responsive-menu" *ngIf="showMenu">
      <a routerLink="/about" (click)="handleClick('about')">Creditos</a>
      <a routerLink="/services" (click)="handleClick('services')">Services</a>
      <a routerLink="/portfolio" (click)="handleClick('portfolio')">Portfolio</a>
      <a routerLink="/contact" (click)="handleClick('contact')">Contact</a>
      <ng-container *ngIf="rol === 'admin'">
          <!-- Opciones de menú adicionales para el administrador -->
          <a routerLink="/admin-dashboard" (click)="handleClick('admin-dashboard')">Admin Dashboard</a>
      </ng-container>
  </div>
</header>
