<!-- Inicio: Tarjeta de prueba para Añadir conferencia -->
<div class="login">
  <div class="login__card">
    <div class="login__container">
      <div class="login__container-title">
          <h1>
            Modificar Conferencia
          </h1>
        <div class="login__container-content">
          <!-- formulario -->
          <form [formGroup]="conferForm" (ngSubmit)="onSubmitConfer()">
            <!-- Titulo -->
            <div class="login-content" >
              <input id="titulo" list="confs" type="text" formControlName="titulo" placeholder=" ">
              <label for="titulo">Titulo</label>
              <!-- <small *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="form-text text-danger">
                  <div *ngIf="nombre.hasError('required')">Ingresa tu Nombre</div>
                </small> -->
                <datalist id="confs" >
                  @for (item of confers; track $index) {
                    <option [value]="item.Titulos"></option>
                  }
                </datalist>
            </div>
            <!-- Descripcion -->
            <div class="login-content">
              <input id="descrip" type="text" formControlName="descrip" placeholder=" ">
              <label for="descrip">Descripción</label>
            </div>
            <!-- Lugar -->
            <div class="login-content">
              <input id="lugar" type="text" formControlName="lugar" placeholder=" ">
              <label for="lugar">Lugar</label>
            </div>
            <!-- Fecha -->
            <!-- <div class="login-content">
              <input  id="fecha" type="date" formControlName="fecha" placeholder=" ">
              <label for="fecha">Fecha</label>
            </div> -->
            <!-- H Inicio -->
            <div class="login-content">
              <input id="horaInicio" type="time" formControlName="horaInicio" placeholder=" ">
              <label for="horaInicio">Hora Inicio</label>
            </div>
            <!-- H Fin -->
            <div class="login-content">
              <input id="horaFin" type="time" formControlName="horaFin" placeholder=" ">
              <label for="horaFin">Hora Finalización</label>
            </div>
            <!-- Ex. Semblanza -->
            <div class="login-content">
              <input id="semblanza" type="text" formControlName="semblanza" placeholder=" ">
              <label for="semblanza">Pequeña Semblanza</label>
            </div>
            <!-- Ex. Foto -->
            <!-- <div class="login-content">
              <input id="foto" type="text" formControlName="foto" placeholder=" ">
              <label for="foto">Foto</label>
            </div> -->
            <!-- Cnf. Cupo total -->
            <div class="login-content">
              <input id="cupo" type="number" formControlName="cupo" placeholder=" ">
              <label for="cupo">Cupo Total</label>
            </div>

            <!-- submit btn -->
            <div class="login__btn">
              <button type="submit" [disabled]="!conferForm.valid">Guardar Cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin: Tarjeta de prueba para Añadir conferencia -->