.carousel-inner .carousel-item img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

.carousel {
    max-width: 800px; /* Define un ancho máximo para el carrusel */
    margin: 4rem auto; /* Centra el carrusel horizontalmente */
}
.test{
    background-color: antiquewhite;
    border-radius: 3%;
    box-shadow: 2%;
}

.header {
    margin: 3rem auto;
    min-height: 20rem;
    background-image: url('../../../assets/hero.jpeg');
}

.containerj {
    height: calc(20rem - 30rem);
}