<header class="header" >
    <div class="containerj content-header">
        <div class="bar">
            <div class="logo">
                <h1 class="site-name" >App<span>Confs</span></h1>
            </div>
            <div class="log">
                <a class="header-login" [routerLink]="['/']">Login</a>
                <nav class="navbar">
                    <a [routerLink]="['/']">Mis Conferencias</a>
                    <a [routerLink]="['/']">1 link</a>
                    <a [routerLink]="['/']">2 link</a>
                    <a [routerLink]="['/']">3 link</a>
                </nav>
            </div>
        </div>
        <div class="slogan">
            <h1>Encuentra Tu Conferencia</h1>
            <p>Las mejores conferencias a un solo click</p>
        </div>
    </div>
</header>