.header {
    min-height: 40rem;
    /* background-image: url('../../../assets/hero.jpeg'); */
    background-color: rgba(12, 107, 232, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    margin-right: 1rem;
}

.navbar a{
    cursor: pointer;
}