<!-- <div class="containerj mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card w-70">
          <div class="card-header text-center" style="background-color: #f8f8f8;">
            <h5>
                Ingresar al Sistema
            </h5>
          </div>
          <div class="card-body" style="background-color: #f6f6f6;">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control mt-2" formControlName="email" placeholder="Ingresa Email">
                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger mb-3">
                  <div *ngIf="email.hasError('required')">Ingresa Email</div>
                  <div *ngIf="email.hasError('email')">Email Incorrecto</div>
                </small>
              </div>
              <div class="form-group">
                <label for="password" class="mt-3">Contraseña</label>
                <input type="password" class="form-control mt-2" formControlName="password" placeholder="Ingresa la Contraseña">
              </div>
              <button type="submit" class="btn btn-primary mt-3">Ingresar</button>
            </form>
            <div class="mt-3">
              ¿No tienes cuenta? <a routerLink="/register">Registrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div> -->

  <!-- login -->
  <div class="login">
    <!-- link home -->
    <div class="login__card">
      
      <div class="face2">
        <div>
          <span class="material-symbols-outlined">
            arrow_drop_up
          </span>
        </div>

        <div class="btns">

          <div class="login__btn register__btn">
              <button (click)="redirectTo('auth/home')" >Home</button>
          </div>

          <div class="login__btn register__btn">
            <button (click)="redirectTo('user/register')" >Register</button>
          </div>

        </div>
    </div>
      <!-- container login -->
      <div class="login__container face1" >
        <!-- title -->
        <div class="login__container-title" >
          <h1>
              Ingresa al Sistema
          </h1>
        </div>
        <!-- content -->
        <div class="login__container-content" >
          <!-- form -->
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- email -->
            <div class="login-content">
              <input id="email" type="email" formControlName="email" placeholder=" ">
              <label for="email">Email</label>
            </div>
            <!-- error msgs  -->
            <small *ngIf="email.invalid && (email.dirty || email.touched)" >
              <p class="msg-err" *ngIf="email.hasError('required')">Ingresa Email</p>
              <p class="msg-err" *ngIf="email.hasError('email')">Email Incorrecto</p>
            </small>
            <!-- pass -->
            <div class="login-content">
              <input id="password" type="password" formControlName="password" placeholder=" ">
              <label for="password" >Contraseña</label>
            </div>
            <!-- btn sbmt -->
            <div class="login__btn">
              <button type="submit" >Ingresar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  