.card {
    width: 400px;
    padding: 40px;
    margin-top: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    /* background: linear-gradient(var(--darkBlue),var(--celest)); */
    position: relative;
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2338005d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e0064' cx='50' cy='100' r='50'/%3E%3Cg fill='%2343016c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23480174' cx='50' cy='200' r='50'/%3E%3Cg fill='%234e027c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23540285' cx='50' cy='300' r='50'/%3E%3Cg fill='%2359038d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0395' cx='50' cy='400' r='50'/%3E%3Cg fill='%2365049e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236b05a6' cx='50' cy='500' r='50'/%3E%3Cg fill='%237106af' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237706b7' cx='50' cy='600' r='50'/%3E%3Cg fill='%237d07c0' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%238308c9' cx='50' cy='700' r='50'/%3E%3Cg fill='%238909d2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238f0bdb' cx='50' cy='800' r='50'/%3E%3Cg fill='%23960ce4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239c0ded' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a30ef6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23A90FFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    color: var(--blanco);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__container {
    width: 60%;
    background:var(--mainFilter);
    padding: 5rem;
    opacity: .9;
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    position: relative;
}

/* cuando pantalla mayor a 768px */
@media (min-width:768px){
    .login__container {
        width: 35%;
    }
}

.login__container-title {
    width: 100%;
}

.login__container-title h1{
    font-size: 4rem;
    text-transform: uppercase;
    overflow-wrap: break-word;
}

.login__container-content {
    width: 100%;
}

.login-content{
    position: relative;
}

.login__container-content input{
    /* display: block; */
    width: 100%;
    background: transparent;
    color: var(--blanco);
    outline: none;
    border: none;
    border-bottom: .1rem solid var(--blanco);
    font-size: 2rem;
    margin: 2rem 0;
    transition: all 0.8s;
}

.login-content label {
    position: absolute;
    top:0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .8s;
}


.login__container-content input::placeholder{
    color: var(--blanco);
}

.login__container-content input:focus{
    border-bottom-color: var(--pink);
    transition: all inherit;
}

.login-content input:focus + label,
.login-content input:not(:placeholder-shown) + label {
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: var(--darkBlue);
    transition: all 0.8s;

}

.login__btn {
    display: flex;
    justify-content: center;
}

.login__btn button{
    margin-top: 3rem;
    padding: 1rem;
    width: 90%;
    border: none;
    outline: none;
    box-shadow: 1px 1px .5rem var(--negro);
    background-color: transparent;
    color:var(--blanco);
    transition: all 0.5s;
}

.login__btn button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--negro);
    transition: all 0.5s;
}

.msg-err{
    color: var(--pink) ;
}

.register__link {
    background-color: var(--secondFilter);
    position: absolute;
    top: 0;
    left: 0;
}

.register__link:hover {
    transform: translateX(50%);
}

@media (min-width:768px) {
    .register__link:hover {
        left: 55%;
    }
}