/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

:root{
    --blanco: rgba(255, 255, 255, 0.873);
    --negro:#111111;
    --gris:#343A40;
    --darkBlue:#1C1B4D;
    --pink:#be1e71;
    --celest:#1791B1; 
    --mainFilter: rgba(255, 255, 255, 0.332);
    --secondFilter: #f7417e;
    --blackFilter : #333;
    --fuentePrincipal: "Happy Monkey", system-ui;
    --purple-background: #6f42c1;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.9rem; /*16 px*/
    line-height: 1.8; /*interlineado*/
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2338005d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233e0064' cx='50' cy='100' r='50'/%3E%3Cg fill='%2343016c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23480174' cx='50' cy='200' r='50'/%3E%3Cg fill='%234e027c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23540285' cx='50' cy='300' r='50'/%3E%3Cg fill='%2359038d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0395' cx='50' cy='400' r='50'/%3E%3Cg fill='%2365049e' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236b05a6' cx='50' cy='500' r='50'/%3E%3Cg fill='%237106af' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%237706b7' cx='50' cy='600' r='50'/%3E%3Cg fill='%237d07c0' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%238308c9' cx='50' cy='700' r='50'/%3E%3Cg fill='%238909d2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%238f0bdb' cx='50' cy='800' r='50'/%3E%3Cg fill='%23960ce4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%239c0ded' cx='50' cy='900' r='50'/%3E%3Cg fill='%23a30ef6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23A90FFF' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    color: var(--blanco);
}

h1, h2, h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.containerj {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color 3s;
}

.flex{
    display: flex;
}

.prc-50{
    width: 50%;
}

btn:hover {
    background-color: var(--gris);
    color: var(--blanco);
}

/** utilidades **/
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

/* Header */
.header {
    min-height: 40rem;
    /* background-image: url('../../../assets/hero.jpeg'); */
    background-color: rgba(12, 107, 232, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    margin-right: 1rem;
}

/* @media (min-width: 768px){
    .header {
        padding: 2rem 0;
    }
} */

.content-header {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 35rem);
    justify-content: space-between;
    color: var(--blanco);
}

.site-name {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width:768px) {
    .site-name {
        font-size: 5rem;
    }
}

.site-name span {
    font-weight: 900;
}

@media (min-width:768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px){
    .log{
        align-items: flex-end;
    }
}

.header-login {
    display: flex;
}
 
.header-login::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url('./assets/usuario.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}


.header a {
    color:var(--blanco);
    font-weight: 2.3rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

@media (min-width:768px){
    .navbar {
        flex-direction: row;
    }
}

.navbar a {
    padding: .6rem;
    transition: background-color 300ms;
    width: 100%;
    text-align: center;
}

@media (min-width:768px) {
    .navbar a {
        padding: 1rem 2rem;
        width: auto;
    }
}

.navbar a:hover {
    background-color: rgb(255 255 255 /.5);
} 

.slogan{
    text-align: center;
}

@media (min-width:768px){
    .slogan{
        text-align: right;
    }
}

.slogan h1{
    font-size: 3rem;
    margin: 0;
}

@media (min-width:768px){
    .slogan h1{
        font-size: 5rem;
    }
}

.slogan p{
    margin: 0;
    line-height: 1;
}


/* crm */
.crm h2 {
    text-align: center;
}

.crm p {
    text-align: center;
}

.crm__container {
    display: grid;
    align-items: center;
}

.crm__container tr th{
    text-align: center;
}

.crm__title {
    color:black;
}

.crm p{
    color: black;
}

/* forms */
/* button {
    width: 100%;
}

.card {
    width: 400px;
    padding: 40px;
    margin-top: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.card {
    width: 400px;
    padding: 40px;
    margin-top: 15px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login {
    /* background: linear-gradient(var(--darkBlue),var(--celest)); */
    position: relative;
    color: var(--blanco);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login__card {
    position: relative;
    cursor: pointer;
    width: 60%;
}

.login__container {
    width: 100%;
    /* background:var(--secondFilter); */
    background:var(--blackFilter);
    padding: 5rem;
    opacity: .9;
    backdrop-filter:blur(2px);
    border-radius: 1rem;
    position: relative;
    z-index: 1;
}

/* cuando pantalla mayor a 768px */
@media (min-width:768px){
    .login__card {
        width: 35%;
    }
}

.login__container-title {
    width: 100%;
}

.login__container-title h1{
    font-size: 4rem;
    text-transform: uppercase;
    overflow-wrap: break-word;
}

.login__container-content {
    width: 100%;

}

.login-content{
    position: relative;
}

.login__container-content input{
    /* display: block; */
    width: 100%;
    background: transparent;
    color: var(--blanco);
    outline: none;
    border: none;
    border-bottom: .1rem solid var(--blanco);
    font-size: 2rem;
    margin: 2rem 0;
    transition: all 0.8s;
}

.login-content label {
    position: absolute;
    top:0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .8s;
}


.login__container-content input::placeholder{
    color: var(--blanco);
}

.login__container-content input:focus{
    border-bottom-color: var(--pink);
    transition: all inherit;
}

.login-content input:focus + label,
.login-content input:not(:placeholder-shown) + label {
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    color: var(--pink);
    transition: all 0.8s;

}

.login__btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login__btn button{
    margin-top: 3rem;
    padding: 1rem;
    width: 90%;
    border: none;
    outline: none;
    box-shadow: 1px 1px .5rem var(--negro);
    background-color: transparent;
    color:var(--blanco);
    transition: all 0.5s;
}

.login__btn button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: var(--negro);
    transition: all 0.5s;
}

.msg-err{
    color: var(--pink) ;
}

.register__link {
    background-color: var(--secondFilter);
    /*position: absolute;
    top: 0;
    left: 0; */
}

.register__link:hover {
    transform: translateX(50%);
}

.register__btn button{
    margin-top: 0;
    box-shadow: none;
    visibility: hidden;
}

@media (min-width:768px) {
    .register__link:hover {
        left: 55%;
    }
}

.btns {
    display: flex;
}

.face1 {
    /* transform: translateY(-2rem);
    transition: transform .8s; */
}



.face2 {
    width: 30%;
    background-color: var(--secondFilter);
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
    transform: translateY(70%);
    transition: transform .8s;
}

.face2 p{
    width: 60%;
    margin-top: 1rem;
}

.face2:hover{
    transform: translateY(0rem);
    transition: all .8s;
    & button{
        visibility: visible;
        transition: all .8s;
        background-color: transparent;
        /* color: var(--pink); */
    }
}

.material-symbols-outlined {
    font-size: 4rem;
    margin: 0;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}