/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

:root{
    --blanco:#FFF;
    --negro:#111111;
    --gris:#343A40;
    --darkBlue:#1C1B4D;
    --pink:#B80E65;
    --celest:#1791B1; 
    --mainFilter: rgba(255, 255, 255, 0.332);
    --secondFilter: rgba(238, 23, 170, 0.332);

    --fuentePrincipal: "Happy Monkey", system-ui;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.9rem; /*16 px*/
    line-height: 1.8; /*interlineado*/
}

h1, h2, h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3{
    font-size: 5rem;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.containerj {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn {
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color 3s;
}

btn:hover {
    background-color: var(--gris);
    color: var(--blanco);
}

/** utilidades **/
.text-center {
    text-align: center;
}

.mt-5 {
    margin-top: 5rem;
}

/* Header */
.header {
    min-height: 40rem;
    /* background-image: url('../../../assets/hero.jpeg'); */
    background-color: rgba(12, 107, 232, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    margin-right: 1rem;
}

/* @media (min-width: 768px){
    .header {
        padding: 2rem 0;
    }
} */

.content-header {
    display: flex;
    flex-direction: column;
    height: calc(60rem - 35rem);
    justify-content: space-between;
    color: var(--blanco);
}

.site-name {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}

@media (min-width:768px) {
    .site-name {
        font-size: 5rem;
    }
}

.site-name span {
    font-weight: 900;
}

@media (min-width:768px) {
    .bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px){
    .log{
        align-items: flex-end;
    }
}

.header-login {
    display: flex;
}
 
.header-login::before {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url('./assets/usuario.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}


.header a {
    color:var(--blanco);
    font-weight: 2.3rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

@media (min-width:768px){
    .navbar {
        flex-direction: row;
    }
}

.navbar a {
    padding: .6rem;
    transition: background-color 300ms;
    width: 100%;
    text-align: center;
}

@media (min-width:768px) {
    .navbar a {
        padding: 1rem 2rem;
        width: auto;
    }
}

.navbar a:hover {
    background-color: rgb(255 255 255 /.5);
} 

.slogan{
    text-align: center;
}

@media (min-width:768px){
    .slogan{
        text-align: right;
    }
}

.slogan h1{
    font-size: 3rem;
    margin: 0;
}

@media (min-width:768px){
    .slogan h1{
        font-size: 5rem;
    }
}

.slogan p{
    margin: 0;
    line-height: 1;
}


/* crm */
.crm h2 {
    text-align: center;
}

.crm p {
    text-align: center;
}

.crm__container {
    display: grid;
    align-items: center;
}

.crm__container tr th{
    text-align: center;
}

.crm__title {
    color:black;
}

.crm p{
    color: black;
}