.conferences-container {
    display: flex;

}

.containerConf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 58px;
    padding: 100px 50px;
}

.containerConf .cardConf {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    max-width: 100%;
    height: 300px;
    background-color: #FFF;
    border-radius:  20px;
    transition: 0.5s;
    box-shadow: 0 45px 80px rgba(0,0,0,0.15);
}

.containerConf .cardConf:hover {
    height: 400px;
}

.containerConf .cardConf .imageConf {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background-color: #333;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.5s;
}

.containerConf .cardConf:hover .imageConf {
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.containerConf .cardConf .imageConf img {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerConf .cardConf .contentConf {
    position: absolute;
    top:250px;
    width: 100%;
    height: 25px;
    padding: 0 30px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.containerConf .cardConf:hover .contentConf {
    top: 130px;
    height: 250px;
}

.containerConf .cardConf .contentConf h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color:#333333
}

.containerConf .cardConf .contentConf p {
    color: #333;
    height: 8.1rem;
    overflow: hidden;
}

.containerConf .cardConf .contentConf button {
    position: relative;
    top: 15px;
    display: inline-block;
    padding: 12px 20px;
    text-decoration: none;
    background: #1B1B1B;
    color: #fff;
    font-weight: 500;
}

.containerConf .cardConf .contentConf button:hover {
    opacity: 0.8;
}

@media (max-width:480px){
    .containerConf .cardConf {
        width: 230px;
        border-radius: 15px;
    }
    .containerConf .cardConf .imageConf{
        width: 185px;
        border-radius: 10px;
    }
    .containerConf .cardConf .contentConf p {
        font-size: 0.8rem;
    }
    .containerConf .cardConf .contentConf button {
        font-size:  0.9rem;
    }

}

/* slide */
@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .logos {

  }
  /* .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  } */
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
  }
  
  .logos:after {
    right: 0;
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    /*display: inline-block;*/
    animation: 35s slide infinite linear;
  }
  